{% extends 'base.html.twig' %}

{% block title %}Netfleet{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="title">Netfleet</h1>
    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap	is-justify-content-space-between">

    {% for media in medias %}
            <div class="card" style="width: 30%; margin-top: 3rem;">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="https://via.placeholder.com/240?text=TBA" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ media.name }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>{{ media.type }}</p>
                        <p>{{ media.synopsis }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
